body {
    color:white;
    background:black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 3px yellow;
    padding: 20px;
    font-size: 40;
    color: yellow;
}

.chamada {
    background:rgb(156, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img{
    height: 300;
}

.categoria-vídeos {
    display: flex;
    overflow-x:auto;
    gap: 20px;
}

.categoria {
    padding-left:20px ;
    padding-right:20px ;
    padding-bottom: 100px;
    padding-top: 50px;
}

.categoria-vídeos img {
    opacity: 0.5;
}

.categoria-vídeos img:hover {
    opacity: 1.0;
    border: 10px solid rgb(156, 0, 0);
}

.categoria h2 {
    color: yellow;
}